absl-py==1.0.0
antlr4-python3-runtime==4.8
arrow==1.2.2
astunparse==1.6.3
binaryornot==0.4.4
cachetools==4.2.4
certifi==2021.10.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cookiecutter==1.7.3
cycler==0.11.0
easydict==1.9
fonttools==4.29.1
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==2.10.0
idna==2.10
importlib-metadata==4.10.1
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.1.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
numpy==1.22.2
oauthlib==3.2.0
omegaconf==2.1.1
opencv-contrib-python==4.2.0.34
opencv-python==4.1.2.30
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.0
peekingduck==1.1.1
poyo==0.5.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
requests==2.24.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.4.1
six==1.16.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==3.1.0
tqdm==4.45.0
urllib3==1.25.11
Werkzeug==2.0.3
wrapt==1.13.3
zipp==3.7.0
